body {
	font-family: 'Press Start 2P', cursive;
}

#main-container {
	padding-top: 51px;
	text-align: center;
}

#screenshots a {
	display: inline-block;
	padding: 4px;
	margin-right: 10px;
	margin-top: 10px;
	opacity: 0.8;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#screenshots a:hover {
	opacity: 1;
}

#screenshots a img {
  border: 6px solid #e1d9ec;
}

#screenshots .container {
	margin: auto;
}

#lightcycle-instructions {
	position: fixed;
	width: 100%;
	top: 100px;
	text-align: center;
}

h2 {
	margin-top: 60px;
	margin-bottom: 20px;
}

#credits {
	margin-top: 60px;
}

#features ul {
	display: inline-block;
	text-align: left;
}

#docs iframe {
	width: 100%;
	height: 100vh;
}

#disclaimer {
	padding: 15px;
	text-align: left;
}